<div class="course-card">
  <div class="course-card__description">
    <div class="course-card__description-title">{{ course.title }}</div>
    <div class="course-card__description-text">{{ course.description }}</div>
  </div>
  <div class="course-card__info">
    <div class="course-card__info-text">
      <div>
        <b>Authors: </b>
        <div *ngFor="let author of course.authors">{{ author }}</div>
      </div>
      <div>
        <b>Duration: </b
        ><span class="course-card__duration"
          >{{ course.duration | duration }}
          {{ course.duration >= 120 ? "hours" : "hour" }}</span
        >
      </div>
      <div>
        <b>Created: </b
        ><span class="course-card__date">{{
          course.creationDate | customDate
        }}</span>
      </div>
    </div>
    <div class="course-card__info-actions">
      <app-button
        [text]="'SHOW COURSE'"
        [routerLink]="'/courses/' + course.id"
      ></app-button>
      <ng-container *ngIf="editable">
        <app-button [icon]="deleteIcon"></app-button>
        <app-button [icon]="editIcon"></app-button>
      </ng-container>
    </div>
  </div>
</div>
