<app-search placeholder="Input text" (search)="onSearch($event)"></app-search>

<div *ngIf="searchedBy" class="d-flex search-badge mx-auto rounded">
  <div class="d-flex rounded">
    <div class="mr-2">Search by:</div>
    <div class="mx-2">"{{ searchedBy }}"</div>
    <button (click)="clearSearch()" class="pe-auto btn btn-primary">x</button>
  </div>
</div>

<div class="d-flex justify-content-center">
  <app-button
    *ngIf="editable"
    [routerLink]="'/courses/add'"
    [text]="'Add course'"
  ></app-button>
</div>

<app-course-list
  *ngIf="courses.length > 0"
  [courses]="courses"
  [editable]="editable"
></app-course-list>

<app-info
  *ngIf="courses.length === 0"
  title="Your List Is Empty"
  text="Please use 'Add New Course' button to add your first course."
>
  <app-button text="Add New Course"></app-button>
</app-info>
