.search-badge {
  width: 80%;
  margin: 0 auto;
  color: white;

  div {
    align-items: center;
    padding: 3px;
    border-radius: 10px;
    background-color: #b5b5b5;
  }

  button {
    background-color: #016486;
    border: none;
  }
}
